<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Todo List Manager</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a asp-area="" asp-controller="TodoList" asp-action="Index">Todo lists</a></li>
        </ul>
    </nav>

    <div class="div1">
        @RenderSection("SubHeader", false)
    </div>

    <main>
        <div class="div1">
            @RenderBody()
        </div>
    </main>

    <footer >
           &copy; 2025 - Todo List Manager
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
