@model IEnumerable<TodoList>
@{

}

<p>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Ttile</th>
				<th>Descriprion</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var list in Model)
			{
				@await Html.PartialAsync("_ListRowPartial", list);
			}
		</tbody>
	</table>
</p>