@model IEnumerable<TodoList>
@{

}


<head>
</head>

<body>
	<h2>The grand list of lists</h2>

	<div class="div1">
		<a class="btn" asp-action="Create">Create new list</a>
	</div>
	<div class="div1">
		<table>
			<thead>
				<tr>
					<th>Ttile</th>
					<th>Descriprion</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var list in Model)
				{
					@await Html.PartialAsync("_ListRowPartial", list)
					;
				}
			</tbody>
		</table>
	</div>
</body>